.page-container {
  min-height: 100vh;
  background-color: var(--common-page-bg-color);
}

.page-content {
  padding: var(--common-spacing-3xl);
  color: var(--common-regular-text-color);
  font-size: var(--common-font-size-3xl);
  text-align: center;
}
