.page-container {
  min-height: 100vh;
  background-color: var(--common-page-bg-color);
}

.page-content {
  padding: var(--common-content-padding);
  color: var(--common-secondary-text-color);
  font-size: var(--common-heading-font-size);
  text-align: center;
}
