.common-card {
  box-sizing: border-box;
  width: 100%;
  padding: var(--card-padding);
  background: var(--common-card-bg-color);
  border-radius: var(--common-round-border-radius);
  box-shadow: var(--common-card-shadow);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--card-header-margin-bottom);

    &-content {
      color: var(--common-text-color);
      font-weight: var(--common-font-weight-bold);
      font-size: var(--common-big-font-size);
    }
  }

  &__content {
    width: 100%;
  }
}
