@import '/assets/icons/iconfonts/iconfont.wxss';

.info-grid-item {
  display: flex;
  flex-direction: column;
  gap: var(--common-mini-gap);
  min-height: 200rpx;
  padding: 24rpx;
  border-radius: var(--common-large-border-radius);

  &__icon {
    margin-bottom: var(--common-mini-gap);

    .info-grid-item-icon {
      font-size: var(--icon-extra-large-size);
    }
  }

  &__label {
    color: var(--common-secondary-text-color);
    font-size: var(--common-medium-font-size);
  }

  &__value {
    color: var(--common-text-color);
    font-weight: var(--common-font-weight-bold);
    font-size: var(--common-extra-big-font-size);
  }

  &__sublabel {
    color: var(--common-hint-text-color);
    font-size: var(--common-medium-font-size);
  }
}
