.section-list {
  margin-bottom: var(--common-section-gap);
}

.section-title {
  margin-bottom: var(--common-gap);
  padding-left: var(--common-mini-gap);
  color: var(--common-secondary-text-color);
  font-weight: var(--common-font-weight-bold);
  font-size: var(--common-large-font-size);
}

.section-list-content {
  display: flex;
  flex-direction: column;
  gap: var(--common-gap);
  padding: var(--common-mini-gap);
  overflow: hidden;
  background-color: #fff;
  border-radius: var(--common-large-border-radius);
}
