.section-list {
  margin-bottom: var(--common-spacing-2xl);
}

.section-title {
  margin-bottom: var(--common-spacing-lg);
  padding-left: var(--common-spacing-sm);
  color: var(--common-regular-text-color);
  font-weight: var(--common-font-weight-bold);
  font-size: var(--common-font-size-2xl);
}

.section-list-item--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.section-list-content {
  display: flex;
  flex-direction: column;
  gap: var(--common-spacing-lg);
  padding: var(--common-spacing-sm);
  overflow: hidden;
  background-color: var(--common-white-color);
  border-radius: var(--common-border-radius-lg);
}
